
.page__wrapper {
    display: flex;
    margin: 10px auto;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.page {
    padding: 10px;
    border: 2px solid rgb(137, 219, 137);
    box-shadow: 1px 1px 5px  rgb(137, 219, 137);
    cursor: pointer;
    transition: box-shadow linear .2s;
}
.page:hover {
    box-shadow: 1px 1px 5px  rgb(137, 219, 137),
    1px 1px 10px  rgb(137, 219, 137),
    1px 1px 15px  rgb(137, 219, 137);
}
.page__active {
    padding: 10px;
    border: 2px solid rgb(224, 161, 24);
    box-shadow: 1px 1px 5px rgb(224, 161, 24),
    1px 1px 10px  rgb(224, 161, 24),
    1px 1px 15px  rgb(224, 161, 24);
    cursor: pointer;
    transition: box-shadow linear .2s;
}