.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.modal__wrapper_active {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modal__content {
    background-color: white;
    border: 1px solid  rgb(137, 219, 137);
    padding: 20px;
}