.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid rgb(137, 219, 137),;
  
    animation: anim 2s infinite linear;
}
@keyframes anim {
    from {
        box-shadow: none;
        transform: rotateZ(0deg) scale(.5);
    }
    to{
        box-shadow: 1px 1px 5px  rgb(137, 219, 137),
        1px 1px 15px  rgb(137, 219, 137),
        1px 1px 25px  rgb(137, 219, 137);
        transform: rotateZ(360deg) scale(1);
    }
}